<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableViewSettingList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5C67F471BB3A62C00DE5291</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5C67F601BB3A62C00DE5291</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5C67F6B1BB3A62C00DE5291</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
